header {
    background-image: url(../components/header/src/MAIN_PHOTO.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height: auto;
    width: 100%;
    .header__img {
        margin-bottom: -5px;
        img {
            max-height: 100%;
            max-width: 100%;
            margin-bottom: -5px;
        }
    }
}
