header {
    background-image: url(../components/header/src/MAIN_PHOTO.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height: 80vh;
    width: 100%;
}
