section {
    padding-top: 20px;
    padding-bottom: 50px;
    
    .section__title {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        color: $title_red;
        padding: 10px 0;
        border-bottom: 2px solid rgb(210, 210, 210);
        margin-bottom: 10px;
    }
}

