.news-box {
    display: flex;
    flex-wrap: wrap;
    padding:  20px;
      @include mQ(485px){
       padding: 2px;
       }
    .news-box__item {
        position: relative;
        background-image: url(../components/news__box/src/male1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 230px;
        flex: 1 0 280px;
        margin: 10px;
        
        .news-box__lebel {
            float: right;
            background-color: $title_red;
            padding: 4px;
            margin-top: 3%;
            margin-right: 3%;
            color: #fff;
            font-size: 0.7em;
        }
        .news-box__item--text {
            width: 100%;
            height: 20%;
            position: absolute;
            box-sizing: border-box;
            top: 80%;
            background-color: rgba(0, 0, 0, 0.43);
            color: #fff;
            padding: 1.5%;
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 120%;
            &:before {
                content: "";
                position: absolute;
                left: 5%;
                top:0;
                height: 2px;
                width: 90%;
                border-top: 2px solid #fff;
            }
        }    
    }
}