.video__slider {
    width: 100%;
    
    .slider__item--video {
        width: 100%;
        border: 1px solid rgb(210, 210, 210);
    }
    .slider-nav {
        overflow-x: hidden;
        width: 100%;
        margin: 0 auto;
        
         @include mQ(485px){
             div {
            display: block;
            width: 100%; 
                 padding-bottom: 20px;
             }
            
        }
    .slider__item--video{
        width: 80%;
        margin: 0 auto;
        border: none;
        @include mQ(485px){
            width: 100%;
        }
        }
    }
    
   .slider__text--big {
       width: 100%;
       margin: 0 auto;
       text-align: center;
       border: 2px solid rgb(210, 210, 210);
       border-top: none;
       padding-top: 20px;
       padding-bottom: 20px;
       margin-bottom: 10px;
       background-color: #eeefef;
       color: $text_video;
       font-size: 24px;
       @include mQ(485px){
           font-size: 14px;
       }
    }
    
    .slider__text--small {
        width: 80%;
        margin: 0 auto;
        font-size: 14px;
        text-align: left;
        letter-spacing: 1px;
        color: $text_video;
        padding-top: 10px;
        padding-bottom: 10px;
        @include mQ(485px){
            display: none;
        }
    }
}

