.nav {
    background-color: rgba(255, 255, 255, 0.86);
    width: 100%;
    position: fixed; 
    z-index: 1;
    &:after {
        @include clearfix;
    }
}



.nav__logo {
    float: left;
    padding-right: 60px;
    padding-top: 10px;
        @include mQ(485px){
        display: block;
        width: 100%;
    }
    &:after {
        @include clearfix;
    }
    img { 
        width: 40px;
    }
}
.nav__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @include mQ(425px){
        display: block;
        width: 100%;
    }
   
    ul {
        padding-top: 20px;
        padding-bottom: 10px;
       @include mQ(768px){
        display: block;
        width: 100%;
           li {
               padding: 10px;
               text-align: center;
           }
           a:hover {
               color: red;
           }
    }
    }
    
}

.nav__text-items {
    display: flex;
    flex-wrap: wrap;
    flex: 6 1 0;
    justify-content: space-between;
     .nav--links {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        color:  rgba(30, 30, 30, 255);
        font-weight: bold;
        letter-spacing: 1px;
          @include mQ(1200px){
        font-size: 12px;
    }
    }
}

.nav__social-items {
    display: flex;
    flex: 3 1 0;
    justify-content: flex-end;
    @include mQ(485px){
        li {
        display: inline-block;
        width: 20%; 
             }
        
    }
    li {
        padding-left: 30px;
    }
}

.nav__language-items {
    display: flex;
    flex: 1 1 0;
    justify-content: flex-end;
    li {
        background-color: $title_red;
        padding: 6px 8px;
        a {
            color: #fff;
        }
    }
}


